.header-div {
	display: flex;
	justify-content: space-between;
	width: 1723px;
	height: 43px;
	margin: 0 auto;
	margin-top: 64px;
}
.navigation {
	display: flex;
	justify-content: space-around;
	width: 596px;
	height: 27px;
	color: #3D37F1;
	font-size: 20px;
}
.container-block {
	width: 1723px;
	height: 527px;
	margin: 0 auto;
	margin-top: 261px;
	display: flex;
	justify-content: space-between;
}
.left-div {
	height: 516px;
	width: 636px;
}
.section1-headline {
	font-size: 78px;
	font-weight: bold;
	width: 636px;
	height: 213px;
}
.section1-paragraph {
	width: 602px;
	height: 103px;
	font-size: 22px;
	color: #534D4D;
}
.handwave-div {
	width: 263.67px;
	height: 76.77px;
	background: #3D37F1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 38px;
}
.handwave-img {
	width: 30.29px;
	height: 30.97px;
	margin-right: 30px;
}
.handwave-text {
	color: white;
	font-size: 23px;
	width: 94px;
	height: 31px;
}
